html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: rgba(164, 172, 179, 0.92);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #f5f5f5;
}


.title {
    background: rgba(31, 196, 214, 0.78);
    font-size: 120%;
    color: black;
}

.nav-tabs > li.active > a, .nav-tabs > li.active:hover > a {
    background: #9b9e9e;
    border-bottom: 1px solid white;
}

/*.nav-tabs > li > a {
    background: rgba(230, 140, 140, 0.49);
}*/

.nav > li > a {
    padding: 0px;
}

.box {
    background: rgba(97, 94, 94, 0.71);
}

.table-hover > tbody > tr:hover {
    background-color: rgba(49, 226, 44, 0.54);
}

.table > thead > tr > th {
    text-align: center;
}

.table-header > tbody > tr > th {
    background: #aac0d8;
    color: black;
}

.table-header > tbody > tr > th, .table-header > tbody > tr > td {
    text-align: center;
}

.black {
    color: black;
    font-size: 1.2vw;
}

.blue {
    color: blue;
    font-size: 1.2vw;
}

.red {
    color: red;
    font-size: 1.2vw;
}

.connecting_device {
    background: rgba(8, 214, 8, 0.71);
}

.disconnect_device {
    background: rgba(255, 2, 2, 0.78);
}

.warning_device {
    background: rgba(255, 217, 18, 0.84);
    color: black;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: rgba(0,0,0,0);
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:visited, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
    background: rgba(0,0,0,0);
}

.nav-tabs > li > a:hover .title {
    color: white;
    font-weight: bold;
}

.nav-tabs > li.active .title {
    color: white;
    font-weight: bold;
}

.nav-tabs > li {
    width: 300px;
}

.glyphicon-ok {
    color: rgb(43, 249, 8);
    font-size: 150%;
}

.glyphicon-remove {
    color: red;
    font-size: 150%;
}

.glyphicon-bell {
    color: yellow;
    font-size: 150%;
}

.table-bordered {
    background: rgba(159, 187, 185, 0.91);
}

.myHead{
    background: rgba(8, 93, 183, 0.37);
}
.box-title{
    color:white;
}

label{
    color: white;
}